<h2 class="ui center aligned medium icon header">
  <%# <i class="angle double right green icon"></i> %>
  <i class="cloudscale loading teal icon"></i>
  Welcome to the Chatroom
</h2>

<div class="ui two column grid"> <!--- Used to create 2 columns for the layout of chatbox and online users box --->
  <div class="twelve wide column"> <!--- Semantic UI has a 16 column wide grid system this line states that the first column of the two column grid should be 12 wide --->
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <%= render @messages %>
        </div>
      </div>
       <div class="extra content">
        <%= form_for(@message, url: message_path, html: {class: "ui reply form", role: "form"}) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: "Enter a message...." %>
              <%= f.button '<i class="teal paper plane icon"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="four wide column"> <!--- The rest 4 columns of the grid system are here --->
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
